body {
    margin: 0;
    font-family: Georgia, serif;
    background-color: #f5f1f7;
    color: #29233d;
    text-align: center;
}

section {
    padding: 80px 40px;
}

h1 {
    font-size: 55px;
    color: #51409b;
}

h2 {
    font-size: 38px;
    color: #51409b;
}

p {
    font-size: 20px;
}
