body {
    margin: 0;
    font-family: Georgia, serif;
    background-color: #f5f1f7;
    color: #29233d;
    text-align: center;
}

section {
    padding: 80px 40px;
}

h1 {
    font-size: 55px;
    color: #51409b;
}

h2 {
    font-size: 38px;
    color: #51409b;
}

p {
    font-size: 20px;
}
.hero {
    background-color: #eeecff;
    padding: 120px 20px;
}

.hero h1 {
    margin-bottom: 20px;
}

.subtitle {
    font-size: 25px;
    color: #51409b;
}

.intro {
    max-width: 800px;
    margin: 30px auto 0;
    line-height: 1.8;
}
